In [50]:
import datetime
import time

In [51]:
#start_time = datetime.datetime.now().strftime("%y%m%d-%H%M%S")
s = datetime.datetime.now()
s

datetime.datetime(2020, 3, 23, 1, 10, 46, 563768)

In [52]:
s = s.replace(minute=0,second=0)
s = s + datetime.timedelta(hours=1)
s

datetime.datetime(2020, 3, 23, 2, 0, 0, 563768)

In [57]:
    #start_time = datetime.datetime.now().strftime("%y%m%d-%H%M%S")
    t = datetime.datetime.now()
    u = t
    u = u.replace(second=0,microsecond=0)
    u = u + datetime.timedelta(minutes=1)
    u

datetime.datetime(2020, 3, 23, 1, 12)

In [58]:
while (datetime.datetime.now() <= u):
    print(datetime.datetime.now())
    print(u)
    time.sleep(1)
    
print("out")

2020-03-23 01:11:38.211508
2020-03-23 01:12:00
2020-03-23 01:11:39.212235
2020-03-23 01:12:00
2020-03-23 01:11:40.216678
2020-03-23 01:12:00
2020-03-23 01:11:41.218071
2020-03-23 01:12:00
2020-03-23 01:11:42.219084
2020-03-23 01:12:00
2020-03-23 01:11:43.220090
2020-03-23 01:12:00
2020-03-23 01:11:44.221805
2020-03-23 01:12:00
2020-03-23 01:11:45.223123
2020-03-23 01:12:00
2020-03-23 01:11:46.224094
2020-03-23 01:12:00
2020-03-23 01:11:47.225131
2020-03-23 01:12:00
2020-03-23 01:11:48.226131
2020-03-23 01:12:00
2020-03-23 01:11:49.227036
2020-03-23 01:12:00
2020-03-23 01:11:50.228140
2020-03-23 01:12:00
2020-03-23 01:11:51.229694
2020-03-23 01:12:00
2020-03-23 01:11:52.230059
2020-03-23 01:12:00
2020-03-23 01:11:53.231079
2020-03-23 01:12:00
2020-03-23 01:11:54.232082
2020-03-23 01:12:00
2020-03-23 01:11:55.233080
2020-03-23 01:12:00
2020-03-23 01:11:56.234195
2020-03-23 01:12:00
2020-03-23 01:11:57.235140
2020-03-23 01:12:00
2020-03-23 01:11:58.236521
2020-03-23 01:12:00
2020-03-23 01:11:59.237142
2020-03-23 01:12:00
out

In [60]:
start_time = datetime.datetime.now().strftime("%y%m%d-%H%M%S")
t = datetime.datetime.now()
e = t.replace(minute=0,second=0,microsecond=0)
e = e + datetime.timedelta(hours=1)
e


#u = t
#u = u.replace(second=0,microsecond=0)
#u = u + datetime.timedelta(minutes=1)
#u

datetime.datetime(2020, 3, 23, 3, 0)